*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: lightslategray;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}
h1{
    color: aliceblue;
}